ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h4, h5, h6, p {
    margin: 0;
}

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 250px 3fr;
    grid-template-rows: auto 1fr;
    min-height: 100%;
}

.header {
    display: grid;
}

.header-top-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 5px;
    align-content: center;
    margin-top: 10px;
}

#header-icons {
    height: 25px;
}

.top-header-left-side {
    display: grid;
    grid-column: 1 / 2;
}

.box {
    width: 400px;
    height: 20px;
    border: 1px solid black;
    border-radius: 25px;
}

#search-icon {
    height: 23px;
}

.search-bar {
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 8px;
}

.top-header-right-side ul {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
}

.header-bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 20px;
}

#header-bottom-row-profile-pic {
    height: 50px;
}

.header-bottom-row-menu ul {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding-right: 25px;
}

button {
    border-radius: 15px;
    width: 100px;
    height: 30px;
    background-color: rgb(86, 153, 230);
    border: none;
    color: white;
    font-weight: bold;
}

.sidebar {
    display: grid;
    background-color: rgb(86, 153, 230);
    color: white;
    font-weight: bold;
    max-width: 350px;
    grid-row: 1 / 3;
    grid-template-rows: 1fr;
}

#dashboard-icon {
    height: 45px;
}

.dashboard-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    gap: 8px;
}

.sidebar li {
    margin: 15px;
}

.sidebar-items {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 8px;
}

#sidebar-icons {
    height: 20px;
    opacity: 75%;
}

.main {
    display: grid;
    background-color: lightgrey;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    grid-template-columns: 2fr 300px;
    grid-template-rows: 20px 1fr;
    gap: 25px;
    padding: 25px;
}

.main-headers {
    display: grid;
    padding-top: 15px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.main-headers ul {
    display: grid;
    grid-template-columns: 2fr 300px;
}

.main-left-clm {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 1fr));
    gap: 25px;
}

.main-right-clm {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

.project-card-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
    gap: 5px;
}

.project-card-icons {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    padding: 10px;
}

#project-card-icon-style {
    height: 20px;
}


.divider {
    width: 250px;
    border: solid 1px lightgrey;
}

.announcement-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px;
}

.announcement-card div {
    display: grid;
    gap: 10px;
}

.trending {
    display: grid;
    padding-top: 25px;
    grid-template-rows: 30px 1fr;
}

#trending-profile-pic {
    height: 40px;
}

.trending-card ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    gap: 15px;
    padding-left: 15px;
    height: 99.7%;
}

.trending-card>ul>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}