ul {
    list-style-type: none;
    padding: 0;
}

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 250px 3fr;
    grid-template-rows: auto 1fr;
    min-height: 100%;
}

.header {
    display: grid;
    grid-column: 2 / 3;
    height: 150px;
    padding: 15px;
}

.header-top-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search-bar {
    display: grid;
    grid-column: 1 / 2;
}

.header-top-row-menu {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-top-row-menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-bottom-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-bottom-row-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-bottom-row-menu ul {
    display: inline-flex;
    justify-content: space-around;
}

.sidebar {
    display: grid;
    background-color: rgb(86, 153, 230);
    color: white;
    font-weight: bold;
    max-width: 350px;
    grid-row: 1 / 3;
    grid-template-rows: 1fr;
}

.sidebar li {
    margin: 15px;
}

.main {
    display: grid;
    background-color: lightgrey;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    padding: 15px;
}

.main-top-headers {
    display: grid;
    grid-column: 1 / 3;
}

.main-top-headers ul {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects {
    display: grid;
    gap: 15px;
    grid-column: 1 / 2;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
    display: grid;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

.announcement-card {
    display: grid;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

.trending {
    display: grid;
    padding-top: 15px;
}

.trending-card ul {
    display: grid;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    gap: 15px;
    padding: 10px;
}