ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h4 {
    margin: 0;
}

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 250px 3fr;
    grid-template-rows: auto 1fr;
    min-height: 100%;
}

.header {
    display: grid;
    grid-column: 2 / 3;
    grid-template-rows: 50px 50px;
}

.header-top-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 5px;
    align-content: center;
}

.top-header-left-side {
    display: grid;
    grid-column: 1 / 2;
}

.box {
    width: 400px;
    height: 20px;
    border: 1px solid black;
    border-radius: 25px;
}

#search-icon {
    height: 23px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.top-header-right-side {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.top-header-right-side ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-bottom-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-bottom-row-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-bottom-row-menu ul {
    display: inline-flex;
    justify-content: space-around;
}

.sidebar {
    display: grid;
    background-color: rgb(86, 153, 230);
    color: white;
    font-weight: bold;
    max-width: 350px;
    grid-row: 1 / 3;
    grid-template-rows: 1fr;
}

.sidebar li {
    margin: 15px;
}

.sidebar-items {
    display: flex;
    align-items: center;
    gap: 5px;
}

#sidebar-icons {
    height: 20px;
}

.main {
    display: grid;
    background-color: lightgrey;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    grid-template-columns: 2fr 300px;
    grid-template-rows: 20px 1fr;
    gap: 25px;
    padding: 25px;
}

.main-headers {
    display: grid;
    padding-top: 15px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.main-headers ul {
    display: grid;
    grid-template-columns: 2fr 300px;
}

.main-left-clm {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 1fr));
    gap: 25px;
}

.main-right-clm {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.project-card {
    display: grid;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

.announcement-card {
    display: grid;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

.trending {
    display: grid;
    padding-top: 25px;
    grid-template-rows: 30px 1fr;
}

.trending-card ul {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    gap: 15px;
    padding-left: 15px;
    height: 99.7%;
}